{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<h1>{{ submission.id }}</h1>
<h1>{{ submission.meeting_type.name }}</h1>
{% if submission.is_open %}
<form method="post">
  {{ form|crispy }}
  {% csrf_token %}
  <div class="form-group">
    <input type="submit" value="Submit">
  </div>
</form>
{% else %}
{% for response in submission.responses.all %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ response.question.title }}</h5>
    <p class="card-text">
      {{ response.text }}
    </p>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
