{% extends 'base.html'%}
{% block content %}
<h1>{{organization.name}}</h1>
<a class="btn btn-info" href="{% url 'teams:new' organization.id %}" role="button">New Team</a>
{% block organization_content %}
<hr />
{{button_url}}
{% ifequal organization.teams.count 0 %}
{% url 'teams:new' organization.id as button_url %}
{% include "jumbotrons/base.html" with lead="Let's create a team" button_text="Create Team" button_url=button_url %}
{% else %}
<h2>Teams</h2>
<table class="table table-borderless table-hover">
  <thead>
    <tr>
      <th scope="col">Team</th>
      <th scope="col">Members</th>
    </tr>
  </thead>
  <tbody>
    {% for team in organization.teams.all %}
    <tr>
      <td><a class="card-link" href="{% url 'teams:detail' team.id %}" role="button">
          {{ team.name }}</a></td>
      <td>{{ team.members.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endifequal %}
{% ifequal organization.staffs.count 0 %}
{% include "jumbotrons/base.html" with lead="Let's invite a staff" button_text="Invite Staff" button_url=button_url %}
{% endifequal %}
{% ifequal organization.questions.count 0 %}
{% include "jumbotrons/base.html" with lead="Let's add a qestion" button_text="Add Question" button_url=button_url %}
{% endifequal %}
{% endblock %}
{% endblock %}
