{% extends 'base.html'%}
{% block content %}
<h1>{{organization.name}}</h1>
<!-- <a class="btn btn-info btn-sm" href="{% url 'organizations:edit' organization.id %}" role="button">Edit</a> -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'organizations:detail' %}active{% endif %}" href="#">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'teams:list' %}active{% endif %}" href="#">Teams</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'staffs:list' %}active{% endif %}" href="#">Staffs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'questions:list' %}active{% endif %}" href="#">Questions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.view_name == 'organizations:settings' %}active{% endif %}" href="#">Settings</a>
  </li>
</ul>
{% block organization_content %}
{% ifequal organization.teams.count 0 %}
<div class="jumbotron">
  <p class="lead">
    Let's create a team
  </p>
  <hr class="my-4">
  <a class="btn btn-success" href="{% url 'organizations:new' %}" role="button">Create Team</a>
</div>
{% endifequal %}
{% ifequal organization.staffs.count 0 %}
<div class="jumbotron">
  <p class="lead">
    Let's invite a staff
  </p>
  <hr class="my-4">
  <a class="btn btn-success" href="{% url 'organizations:new' %}" role="button">Invite Staff</a>
</div>
{% endifequal %}
{% ifequal organization.questions.count 0 %}
<div class="jumbotron">
  <p class="lead">
    Let's add a question
  </p>
  <hr class="my-4">
  <a class="btn btn-success" href="{% url 'organizations:new' %}" role="button">Add Question</a>
</div>
{% endifequal %}
{% endblock %}
{% endblock %}
