{% extends 'base.html'%}
{% block content %}
<h1>{{team.name}}</h1>
<a class="card-link" href="{% url 'organizations:detail' team.organization_id %}" role="button">Back</a>
<a class="card-link" href="{% url 'teams:edit' team.id %}" role="button">Edit</a>
<hr />
{% url 'organizations:new-team' organization.id as button_url %}
{% ifequal team.organization.staffs.count 0 %}
{% include "jumbotrons/base.html" with lead="Let's invite a staff" button_text="Invite Staff" button_url=button_url %}
{% else %}
{% ifequal team.members.count 0 %}
{% include "jumbotrons/base.html" with lead="Let's add members" button_text="Add Members" button_url=button_url %}
{% else %}
<h1>Members</h1>
<table class="table table-borderless table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    {% for member in team.members.all %}
    <tr>
      <td><a class="card-link" href="{% url 'teams:detail' team.id %}" role="button">
          {{ member.staff.user.username }}</a></td>
      <td>{{ member.role}}</td>
      <td>{{ member.staff.title }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endifequal %}
{% endifequal %}
{% endblock %}
