<div class="jumbotron">
  <h1 class="display-4">Hello there, {{request.user.username}}!</h1>
  <p class="lead">
    OpenSteer is an Employee Engagement &amp; Performance Software.
  </p>
  <hr class="my-4">
</div>
{% if submissions %}
<h1>Active Meetings</h1>
<table class="table table-borderless table-hover">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Team</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
    <tr>
      <td><a class="card-link" href="{% url 'submissions:detail' submission.id %}" role="button">
          {{ submission.meeting_type.name }}</a></td>
      <td>{{ submission.member.team.name }}</td>
      <td>{{ submission.meeting.timestamp }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
